extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasklist %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {% for task in tasklist %}
                        <tbody>
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date|date }}</td>
                                <td>{{ task.due_date|date }}</td>
                                <td>
                                    {% if task.is_completed %}Done
                                    {% else %}
                                        <form method="post" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True">
                                            <button>Complete</button>
                                        </form>
                                        </td>{% endif %}
                                </tr>
                            </tbody>
                    {% endfor %}
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
